.float {
	float: top;
	width: 10000px;
	height: 20px;
}

.top-header {
	border: 0px solid black;
	float: top;
	width: 10000px;
	height: 20px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.time-label {
	border: 0px solid black;
	float: left;
	width: 80px;
	height: 20px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.border-label {
	border: 1px solid black;
	background: #B8F1F5;
	position: absolute;
	display: inline-block;
	z-index: 2;
	width: 80px;
	height: 20px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.room-container {
	position: fixed;
	top: 68px;
	left: 8px;
	z-index: 3;
}

.room-label {
	border: 0px solid black;
	float: top;
	background: #E6E6E6;
	position: relative;
	z-index: 3;
	width: 160px;
	height: 20px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.room-highlight {
	border: 0px solid black;
	float: top;
	width: 10000px;
	height: 20px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.room-highlight:hover {
	background: #B2B2CC;
	z-index: 1;
}

input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
.ui-dialog .ui-state-error { padding: .3em; }
label, input { display:block; }
